@layer base {
  .wysiwyg p:not(:last-child) {
    @apply mb-[1lh];
  }

  .wysiwyg ul:not([class]) {
    @apply list-disc pl-6;
  }

  .wysiwyg ol:not([class]) {
    @apply list-decimal pl-6;
  }

  .wysiwyg li:not([class]) {
    @apply mb-2;
  }

  .wysiwyg strong {
    @apply font-bold;
  }

  .wysiwyg a {
    @apply underline text-black;
  }

  .wysiwyg h2 {
    @apply text-2xl font-bold;
  }

  .wysiwyg h3 {
    @apply text-2xl font-bold;

  }

  .wysiwyg h4 {
    @apply text-xl font-bold;
  }

  .wysiwyg h5 {
    @apply text-base font-bold;
  }

  .wysiwyg h6 {
    @apply text-base font-bold;
  }

  .wysiwyg em {
    @apply italic;
  }

  .wysiwyg hr {
    @apply mx-2 my-auto border border-b-gray-500;
  }


}


