{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div class="bg-white">
    <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between py-4 px-4 lg:px-8 h-20">
      <div class="flex items-center gap-8">
        {{ elements.lug_site_branding }}
        <!-- Desktop menu moved next to branding -->
        <div class="flex lg:gap-x-8">
          {{ elements.lug_main_menu }}
        </div>
      </div>
      
      <div class="flex items-center">
        {{ elements.lug_account_menu }}
      </div>
    </nav>
  </div>
{% endif %}
