/**
 * @file
 * Visual styles for buttons using Tailwind CSS.
 */

.button,
.image-button {
  @apply rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-light focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-primary;
}

.button:first-child,
.image-button:first-child {
  @apply mx-0;
}
