/**
 * @file
 * Presentational styles for Drupal dialogs using Tailwind CSS.
 */

.ui-dialog {
  @apply absolute z-[1260] overflow-visible p-0 text-black border border-gray-300 bg-white;

  @media all and (max-width: 48em) {
    @apply w-[92%!important];
  }

  .ui-dialog-titlebar {
    @apply border-b border-solid border-gray-300 rounded-none bg-[#f3f4ee] font-bold;
  }

  .ui-dialog-titlebar-close {
    @apply border-0 bg-none;
  }

  .ui-dialog-buttonpane {
    @apply mt-0 px-[1em] py-[0.3em] border-t border-gray-300 bg-[#f3f4ee];

    .ui-dialog-buttonset {
      @apply m-0 p-0;
    }

    .ui-button-text-only .ui-button-text {
      @apply p-0;
    }
  }

  .ui-dialog-content .form-actions {
    @apply m-0 p-0;
  }

  .ajax-progress-throbber {
    @apply fixed z-[1000] top-[48.5%] left-[49%] w-6 h-6 p-1 opacity-90 rounded bg-[#232323] bg-no-repeat bg-center;
    background-image: url(../../images/icons/loading-small.svg);

    .throbber,
    .message {
      @apply hidden;
    }
  }
}
