/**
 * @file
 * Visual styles for form components using Tailwind CSS.
 */

form {
  .field-multiple-table {
    @apply m-0;

    .field-multiple-drag {
      @apply w-[30px] pr-0;

      .tabledrag-handle {
        @apply pr-2;
      }
    }
  }

  .field-add-more-submit {
    @apply mt-2;
  }
}

.form-item,
.form-actions {
  @apply my-4;
}

tr.odd .form-item,
tr.even .form-item {
  @apply my-0;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  @apply text-sm;
}

label.option {
  @apply inline font-normal;
}

.form-composite > legend,
.label {
  @apply inline m-0 p-0 font-bold text-inherit;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  @apply my-1;
}

.form-type-radio .description,
.form-type-checkbox .description {
  @apply ml-10;
}

.marker {
  @apply text-red-700;
}

.form-required::after {
  content: "";
  @apply inline-block w-[6px] h-[6px] mx-[0.3em] align-super bg-no-repeat bg-contain;
  background-image: url(../../images/icons/required.svg);
}

abbr.tabledrag-changed,
abbr.ajax-changed {
  @apply border-0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  @apply border-[2px] border-red-600;
}

.form-item--error-message::before {
  content: "";
  @apply inline-block w-[14px] h-[14px] align-sub bg-no-repeat bg-contain;
  background-image: url(../../images/icons/error.svg);
}
