/**
 * @file
 * Visual styles for inline forms using Tailwind CSS.
 */

.form--inline {
  .form-item {
    @apply float-left mr-2;
  }

  .form-item-separator {
    @apply mt-[2.3em] mr-4 ml-2;
  }

  .form-actions {
    @apply clear-left;
  }
}
