/**
 * @file
 * Visual styles for menu using Tailwind CSS.
 */

ul.menu {
  @apply ml-4 p-0 list-none text-left;
}

.menu-item--expanded {
  list-style-type: circle;
  list-style-image: url(../images/icons/menu-expanded.png);
}

.menu-item--collapsed {
  list-style-type: disc;
  list-style-image: url(../images/icons/menu-collapsed.png);
}

.menu-item {
  @apply m-0 pt-[0.2em];
}

ul.menu a.is-active {
  @apply text-black;
}
