/**
 * @file
 * Styles for system messages using Tailwind CSS.
 */

.messages {
  @apply px-[20px] py-[15px] pl-[35px]  border border-solid border-l-0 rounded bg-no-repeat bg-[length:auto] bg-[position:10px_17px] wrap-break-word
  ;
}

.messages + .messages {
  @apply mt-6;
}

.messages__list {
  @apply m-0 p-0 list-none;
}

.messages__item + .messages__item {
  @apply mt-3;
}

.messages--status {
  @apply text-[#325e1c] border-[#c9e1bd] border-r-[#c9e1bd] border-b-[#c9e1bd] border-l-transparent bg-[#f3faef] shadow-[-8px_0_0_#77b259];
  background-image: url(../../images/icons/check.svg);
}

.messages--warning {
  @apply text-[#734c00] border-[#f4daa6] border-r-[#f4daa6] border-b-[#f4daa6] border-l-transparent bg-[#fdf8ed] shadow-[-8px_0_0_#e09600];
  background-image: url(../../images/icons/warning.svg);
}

.messages--error {
  @apply text-[#a51b00] border-[#f9c9bf] border-r-[#f9c9bf] border-b-[#f9c9bf] border-l-transparent bg-[#fcf4f2] shadow-[-8px_0_0_#e62600];
  background-image: url(../../images/icons/error.svg);
}

.messages--error p.error {
  @apply text-[#a51b00];
}
