/**
 * @file
 * Visual styles for progress bar using Tailwind CSS.
 *
 * @see progress.js
 */

.progress__track {
  @apply border border-gray-400 rounded-full bg-[#f2f1eb] shadow-inner;
  background-image: linear-gradient(#e7e7df, #f0f0f0);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.16);
}

.progress__bar {
  @apply h-4 mt-[-1px] ml-[-1px] px-[1px] border border-[#07629a] rounded-full bg-[#057ec9];
  transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  -webkit-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)),
    linear-gradient(to right bottom, #0094f0 0%, #0094f0 25%, #007ecc 25%, #007ecc 50%, #0094f0 50%, #0094f0 75%, #0094f0 100%);
  background-size: 40px 40px;
}

@media screen and (prefers-reduced-motion: reduce) {
  .progress__bar {
    -webkit-transition: none;
    transition: none;
    -webkit-animation: none;
    animation: none;
  }
}

/**
 * Progress bar animations.
 */
@keyframes animate-stripes {
  0% {
    background-position:
      0 0,
      0 0;
  }
  100% {
    background-position:
      0 0,
      -80px 0;
  }
}
