/**
 * @file
 * Visual styles for tabs using Tailwind CSS.
 */

div.tabs {
  @apply my-4;
}

ul.tabs {
  @apply m-0 mb-2 p-0 list-none;
}

.tabs > li {
  @apply inline-block mr-1;
}

.tabs a {
  @apply block px-4 py-1 no-underline;
}

.tabs a.is-active {
  @apply bg-[#eee];
}

.tabs a:focus,
.tabs a:hover {
  @apply bg-[#f5f5f5];
}
